.CtaContainer{
    padding: 80px 0;
}
.centeredImage{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.CtaImg{
    width: 85%;
    border-radius: 20px;
}
.ctaSvg{
    width: 95%;
    margin-top: -5%;
    padding: 0;
}
@media (max-width: 600px){
    .CtaContainer{
        padding: 40px 0;
    }
}
